<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CloudBrink</title>
    <link rel="stylesheet" href="public/styles/style.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="container">
        {{> nav}}
        <div class="header_section text-center">
            <h1>Hi! This is Manpreet!, I am A Tech Enthusiast! </h1>
            <img src="public/images/coding.png" alt="hero">
        </div>
        <div class="hero_section" id="about">
            <img src="public/images/hero-devices.svg" alt="hero image" width="500px">
            <div class="bg-primary p-5 text-center text-light">
                <h2>Hi, I’m Manpreet. Nice to meet you.</h2>
                <p>Since beginning my journey as a Developer over 2 years ago, I've done remote work for
                    agencies, consulted for startups, and collaborated with talented people to create digital products
                    for both business and consumer use. I'm quietly confident, naturally curious, and perpetually
                    working on improving my chops one design problem at a time.</p>
            </div>
        </div>
        <div class="row card_state">
            <div class="col-12 col-md-4 col-lg-4 mt-5">
                <div class="card border-0 p-5 shadow">
                    <div class="card-header bg-white border-0">
                        <i class="fa fa-code"></i>
                    </div>
                    <div class="card-title text-center">
                        <h4>Frontend Developer</h4>
                        <p>I like to code things from scratch, and enjoy bringing ideas to life in the browser.</p>
                    </div>

                    <div class="card-body text-center">
                        <h5 class="text-primary">Languages</h5>
                        <p>Html, Handelbars, Js, Css, Git</p>
                        <hr class="mb-4">
                        <h6 class="text-primary">Dev Tools:</h6>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">VS Code</li>
                            <li class="list-group-item">Bootstrap</li>
                            <li class="list-group-item">Tailwind</li>
                            <li class="list-group-item">Github</li>
                            <li class="list-group-item">Terminal</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 col-lg-4 mt-5">
                <div class="card border-0 p-5 shadow">
                    <div class="card-header bg-white border-0">
                        <i class="fa fa-code"></i>
                    </div>
                    <div class="card-title text-center">
                        <h4>Back Developer</h4>
                        <p>I like to code things from scratch, and enjoy bringing ideas to life in the browser.</p>
                    </div>

                    <div class="card-body text-center">
                        <h5 class="text-primary">Languages :</h5>
                        <p>Node, Mangodb, Express, Firebase</p>
                        <hr class="mb-4">
                        <h6 class="text-primary">Dev Tools:</h6>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">VS Code</li>
                            <li class="list-group-item">Material Ui</li>
                            <li class="list-group-item">Post Man</li>
                            <li class="list-group-item">Github</li>
                            <li class="list-group-item">API</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 col-lg-4 mt-5">
                <div class="card border-0 p-5 shadow">
                    <div class="card-header bg-white border-0">
                        <i class="fa fa-code"></i>
                    </div>
                    <div class="card-title text-center">
                        <h4>Graphic Design</h4>
                        <p>I like to design things from scratch, and enjoy bringing ideas to project.</p>
                    </div>

                    <div class="card-body text-center">
                        <h5 class="text-primary">Knowledge:</h5>
                        <p>UI/UX, Logo Design, Banner Design</p>
                        <hr class="mb-4">
                        <h6 class="text-primary">Tools:</h6>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Figma</li>
                            <li class="list-group-item">Adobe XD</li>
                            <li class="list-group-item">Photoshop</li>
                            <li class="list-group-item">Illustrator</li>
                            <li class="list-group-item">Indesign</li>
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="projects text-center" id="projects">
            <h2>Projects</h2>
            <p>Take a glance at my Projects set</p>
            <div class="row">
                <div class="col-12 col-md-4 col-lg-4 mt-5">
                    <div class="card border-0 p-5 shadow">
                        <div class="card-header bg-white border-0">
                            <img class="img-fluid" src="public/images/appdev.png" alt="projectimg">
                        </div>
                        <div class="card-title text-center">
                            <h5>DotNetDrinks</h5>
                            <p>DotNetDrinks is a vibrant community for .NET enthusiasts, fostering learning and networking through meetups and events. It's a hub for sharing insights, discussing trends, and connecting professionals passionate about .NET technology.</p>
                                <a class="btn btn-primary" href="https://github.com/HarpreetSingh0083/DotNetDrinks">learn More</a>
                            
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-4 mt-5">
                    <div class="card border-0 p-5 shadow">
                        <div class="card-header bg-white border-0">
                            <img class="img-fluid" src="public/images/appdevelopment.png" alt="">
                        </div>
                        <div class="card-title text-center">
                            <h5>discordBot</h5>
                            <p>Our team crafted a Discord bot using Node.js for a group project. Linked to the Discord community, it's fully operational. Utilized npm for discord.js and prettier extension in VS Code, ensuring a tidy workspace for seamless development.</p>
                            <a class="btn btn-primary" href="https://github.com/Tushar1603/discordBot01">learn More</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-4 mt-5">
                    <div class="card border-0 p-5 shadow">
                        <div class="card-header bg-white border-0">
                            <img class="img-fluid" src="public/images/backend.png" alt="">
                        </div>
                        <div class="card-title text-center">
                            <h5>JavaScript Framework</h5>
                            <p>JavaScript frameworks like React, Angular, and Vue.js streamline web development by offering pre-built components, enhancing efficiency, scalability. They empower developers to create dynamic, responsive, and modern web applications with ease.</p>
                            <a class="btn btn-primary" href="https://github.com/HarpreetSingh0083/Assignment-Javascript-Framework">learn More</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-4 mt-5">
                    <div class="card border-0 p-5 shadow">
                        <div class="card-header bg-white border-0">
                            <img class="img-fluid" src="public/images/appdev.png" alt="">
                        </div>
                        <div class="card-title text-center">
                            <h5>Notes Web App</h5>
                            <p>The NotesWebApp, built with Node.js, Express, and HBS, provides a dynamic platform for creating, managing, and organizing notes. Leveraging Express for server-side operations and HBS as the templating engine.</p>
                            <a class="btn btn-primary" href="https://github.com/HarpreetSingh0083/noteswebapp">learn More</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-4 mt-5">
                    <div class="card border-0 p-5 shadow">
                        <div class="card-header bg-white border-0">
                            <img class="img-fluid" src="public/images/appdevelopment.png" alt="">
                        </div>
                        <div class="card-title text-center">
                            <h5>Lab Web App</h5>
                            <p>A lab web app, blending C#, CSS, JS, and HTML, delivers a seamless user experience. Utilizing C# for backend functionality, HTML/CSS for frontend design, and JS for interactivity, it ensures efficient data processing, elegant UI, and dynamic features.</p>
                            <a class="btn btn-primary" href="https://github.com/HarpreetSingh0083/LabWebApp">learn More</a>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <hr class="mt-5 mb-5">
        <div class="work_section">
            <h3>I'm proud to have collaborated with some awesome companies:</h3>
            <div class="row">
                <div class="col-6 col-md-4 col-lg-4 mt-5">
                    <img src="public/images/redstamp.svg" class="border" alt="companyimg">
                </div>
                <div class="col-6 col-md-4 col-lg-4 mt-5">
                    <img src="public/images/briteweb.svg" class="border" alt="companyimg">
                </div>
                <div class="col-6 col-md-4 col-lg-4 mt-5">
                    <img src="public/images/chronicled.svg" class="border" alt="companyimg">
                </div>
                <div class="col-6 col-md-4 col-lg-4 mt-5">
                    <img src="public/images/domain7.svg" class="border" alt="companyimg">
                </div>
                <div class="col-6 col-md-4 col-lg-4 mt-5">
                    <img src="public/images/serpmetrics.svg" class="border" alt="companyimg">
                </div>
                <div class="col-6 col-md-4 col-lg-4 mt-5">
                    <img src="public/images/goodkind.svg" class="border" alt="companyimg">
                </div>
            </div>
        </div>
        <hr class="mt-5 mb-5">

        <div class="contact_us" id="contact">
            <form method="POST" action="/contactdata">
                <h2 class="text-center">Contact Us</h2>
                <p class="text-center">Contact The Help Team</p>
                <div class="mb-3">
                    <label for="username" class="form-label">user name </label>
                    <input name="user" type="text" class="form-control" id="username">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input name="email" type="email" class="form-control" id="exampleInputEmail1"
                        aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="" class="mb-2">type your message here...</label>
                    <div class="form-floating">
                        <textarea name="msg" class="form-control" placeholder="Leave a comment here"
                            id="floatingTextarea2" style="height: 100px"></textarea>
                        <label for="floatingTextarea2">Comments</label>
                    </div>
                </div>
                <button name="submit" type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>

        <div class="footer bg-light" id="about">
            <img src="public/images/logo.png" alt="logo">

            <h3>Living, learning, & leveling up one day at a time.</h3>

            <div class="social_icons">
                <a href="https://github.com/HarpreetSingh0083"><i class="fa fa-facebook"></i></a>
                <a href="https://github.com/HarpreetSingh0083"><i class="fa fa-instagram"></i></a>
                <a href="https://github.com/HarpreetSingh0083"><i class="fa fa-github"></i></a>
            </div>
            <p>
                Handcrafted by me © HarpreetSingh</p>
        </div>
    </div>
    <script src="js/bootstrap.min.js"></script>
</body>

</html>